<div class="container-fluid">

  <!-- Row 1: Header -->
  <div class="row bg-info">
    <!-- Col 1.1: Logo -->
    <div class="col-1 text-left">
      <a href="https://www.shutterstock.com/shutterstock/photos/1894044466/display_1500/stock-vector-simple-tv-letter-logo-icon-design-1894044466.jpg">
        <img src="https://www.shutterstock.com/shutterstock/photos/1894044466/display_1500/stock-vector-simple-tv-letter-logo-icon-design-1894044466.jpg"
             alt="Logo" style="width: 30px; float:left;">
      </a>
      <h4 style="float:right;"><b>TV Series</b></h4>
    </div>
  </div>
  <div class="gutter" style="height: 20px;"></div>
  <!-- Row 2: Body -->
  <div class="row">
    <div class="gutter" style="width: 40px;"></div>
    <!-- Table -->
    <div class="col-5">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Channel</th>
          <th>Seasons</th>
        </tr>
        </thead>
        <tbody id="seriesTableBody">
        <!-- Data will be inserted here by JavaScript -->
        </tbody>
      </table>
      <table class="table table-striped">
        <tbody id="avgSeasons">
        <!-- Data will be inserted here by JavaScript -->
        </tbody>
      </table>
    </div>
  </div>

</div>
